//Google Fonts Sample
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Roboto:400,500');


/*------------------------------------------
--------------------- media query screen size---------------------
------------------------------------------*/
$desktop: 1024px;
$tablet: 991px;
$mobile: 768px;
$woomobile: 544px;
$smallmobile: 480px;

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin woomobile {
    @media (max-width: #{$woomobile}) {
        @content;
    }
}

@mixin smallmobile {
    @media (max-width: #{$smallmobile}) {
        @content;
    }
}

//remove weird outline
a {
    outline: 0 !important;
}

//yith icon bug
i.yith-wcwl-icon.fa,
i.yith-wcwl-icon.fa,
.yith-wcwl-share i.fa {
    font: normal normal normal 14px/1 'FontAwesome';
}

.close-mobile-toggle-sidebar,
.show-mobile-toggle-sidebar {
    display: none;
}

.wishlist_table.mobile {
    background: #fff;
    padding: 20px;

    .additional-info-wrapper {
        display: flex;
        justify-content: space-between;

        .additional-info {
            width: 40%;
        }
    }

    li {
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
    }
}

//scroll to top
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    font: normal normal normal 14px/1 FontAwesome;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000000;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

    &:hover {
        background: #166e89;
    }

    &.show {
        opacity: 1;
    }
}

.categories_images_banner {
    &.first_banner {
        grid-column: 1 / span 3;
        grid-row: 3 / span 2;
        @include desktop{
            grid-column: 1 / span 2;
            grid-row: 3 / span 1;
        }
        @media only screen and (max-width: 767px) {
            grid-column: 1 / span 2;
            grid-row: 3 / span 2;
        }
        // @include mobile{
        //     grid-column: 1 / span 2;
        //     grid-row: 3 / span 2;
        // }
    }
    &.second_banner {
        grid-column: 2 / span 3;
        grid-row: 6 / span 2;
        @include desktop{
            grid-column: 1 / span 2;
            grid-row: 9 / span 1;
        }
        @media only screen and (max-width: 767px) {
            grid-column: 1 / span 2;
            grid-row: 9 / span 2;
        }
        // @include mobile{
        //     grid-column: 1 / span 2;
        //     grid-row: 9 / span 2;
        // }
    }

    .background-image {
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: baseline;
    }

    .text-box {
        display: flex;
        flex-direction: column;
        padding: 50px;
        font-weight: 500;
        font-size: 30px;
        line-height: 34px;
        color: #fff;
        font-family: 'Perpetua';
    }

    .button-box {
        color: #fff;
        border: 1px solid #FFFFFF;
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
        padding: 13px 10px;
    }
}



@include mobile() {

    .yith_wcwl_wishlist_footer {
        display: flex;
        flex-direction: column;
    }

    .mobile-toggle-sidebar {
        position: fixed;
        z-index: 99;
        background: #fff;
        max-width: 300px;
        top: 0;
        left: -300px;
        height: 100%;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: all ease-in-out .2s;

        &.show {
            left: 0;
        }
    }

    .close-mobile-toggle-sidebar {
        display: inline-block;
        padding: 10px;
        height: auto;
        line-height: 1;
        font-size: 20px;
        position: absolute;
        right: 0;
        z-index: 1;
        top: 0;
    }

    .show-mobile-toggle-sidebar {
        display: inline-block;
        padding: 10px;
        height: auto;
        line-height: 1;
        font-size: 20px;
        position: fixed;
        left: 0;
        top: 30%;
        background: #fff;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1) !important;
        transition: all ease-in-out .2s;

        &.hide {
            left: -40px;
        }
    }

}

@include woomobile() {

    .woocommerce #content table.cart td.actions .button,
    .woocommerce table.cart td.actions .button,
    .woocommerce-page #content table.cart td.actions .button,
    .woocommerce-page table.cart td.actions .button {
        margin-left: 0;
    }

    .woocommerce #content table.cart td.actions .button,
    .woocommerce table.cart td.actions .button,
    .woocommerce-page #content table.cart td.actions .button,
    .woocommerce-page table.cart td.actions .button {
        border-width: 0;
    }
}